/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Righteous */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
    font-family: fontLight;
    src: url(../font/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: fontRoman;
    src: url(../font/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-default: #3DCD58;
    --primary-light: #8effaa;
    --secondary-default: #242424;
    --secondary-light: #626262;
    --gray-default: #f3f2f2;
    --gray-dark: #eeeded;
    --red-default: #FF6060;

    --transition: all ease-in .4s;
}

body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'fontLight', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1.5rem;
    background-color: #EFEFEF;
}

.container h1 {
    color: var(--secondary-default);
}

.medal {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background: var(--secondary-default);
    z-index: 40;
    max-width: 350px;
    color: white;
}

.medal button {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    transition: var(--transition);
    color: var(--secondary-light);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.medal button:hover {
    color: white
}

.medal > i {
    font-size: 3rem;
    color: var(--primary-default);
}

.medal p {
    color: #717171;
}

.medal a {
    transition: var(--transition);
    color: var(--primary-default);
}

.medal a:hover {
    color: var(--primary-light);
}

.medal .progress-bar {
    position: absolute;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 4px;
    background: var(--primary-default);
    animation: progress-bar forwards linear 4s;
}

@keyframes progress-bar {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}