@import url("./index.css");
@import url("./navbar.css");

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.medal-container {
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  background: var(--secondary-default);
  color: white;
}

.medal-container h2 {
  color: var(--primary-default);
}

.medal-container > i {
  font-size: 3rem;
  color: var(--primary-default);
}

.medal-container.uncompleted {
  filter: grayscale(1);
}

.medal-container span {
  color: #717171;
}