@import url("./index.css");

nav {
    height: 100vh;
    max-width: 13.75rem;
    width: 20%;
    background-color: var(--secondary-default);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
}

nav .logo-container {
    display: grid;
    place-items: center;
    margin-top: 2rem;
}

nav .logo {
    padding: 1.5rem 0.825rem;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: left;
}

nav ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.25rem;
}

nav ul li i {
    font-size: 1.75rem;
    color: var(--primary-default);
}

nav .nav-item {
    font-size: 1.125rem;
    text-decoration: none;
    color: #FFFFFF;
}

nav li:hover {
    background: var(--secondary-light);
}

nav .current{
    background: var(--primary-default);
}

nav .current i {
    color: #FFFFFF
}

.nav-logout {
    margin-top: auto;
    padding: 1rem 1.25rem;
}

.nav-logout:hover {
    background: var(--secondary-light);
}

.nav-logout a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.125rem;
    text-decoration: none;
    color: #FFFFFF;
}

.nav-logout i {
    font-size: 1.75rem;
    color: var(--primary-default);
}